.logo {
    height: 32px;
    margin: 16px;
}

.site-layout {
    /*border-radius: 25px;*/
    background-color: white;
}

.site-layout .site-layout-background {
    background: #85bfff;
}

[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

.header-content {
    font-size: 32px;
}

.content {
    padding-top: 5px;
}

.table-slider {
    border: 0.5px solid #d8d9e1
}
.table-header {
    background-color: #85bfff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 0.5px solid #d8d9e1;
}
.table-row {
    /* border: 0.5px solid #d8d9e1 ; */
    padding-left: 10px;
    padding-right: 10px;
    /*border-left: 0.5px solid #d8d9e1;*/
    /*border-right: 0.5px solid #d8d9e1;*/
}
.table-tr {
    background-color: #f0f4f9;
    padding: 10px;
    /* font-weight: bold; */
    text-align: center;
    align-items: center;
    border-bottom: 0.5px solid #d8d9e1;
}
.table-tr:hover {
    background-color: #ccced1;
}
.icon-slider {
    font-size: 16px;
    cursor: pointer;
}
.icon-slider:hover {
    font-size: 25px;
}
.example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}
.example {
    background: rgba(255,255,255,0.08);
}
