.container-content-catalog {
    width: 256px
}

.menuTitle {
    text-align: justify;
    color: #fff;
    padding-left: 20px;
    font-size: 20px;
}

.editTwoTone {
    font-size: 12px;
}

.editTwoTone:hover {
    font-size: 15px;
}

.deleteTwoTone {
    font-size: 12px;
}

.deleteTwoTone:hover {
    font-size: 15px;
}
.addCatalog {
    margin-left: 160px;
}
